p {
    white-space: pre-wrap;
}

.Work-title{
    /* position: absolute;
    width: 538px;
    height: 90px;
    left: 86px;
    top: 91px; */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 140.62%;
    /* identical to box height, or 90px */

    color: #F6B688;
}

.Work-content{
    /* position: absolute;
    width: 543px;
    height: 470px;
    left: 1063px;
    top: 308px; */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;

    color: #FDD6D6;
}